extends layout

block content
  .w3-card-4 
    header.w3-container.w3-teal
      h1 
        span #{title} 
    .w3-container
      table.w3-table-all
        tr 
          th ID
          th Nome
          th Descrição de Nível
          th Data inicial da unidade
          th Data final da unidade
          th Repositório 
          th Autor
          th Data de criação
        each elem in lista
          tr 
            td= elem._id
            td
              a(href='/' + elem._id) #{elem.UnitTitle} 
            td= elem.DescriptionLevel
            td= elem.UnitDateInitial
            td= elem.UnitDateFinal
            td= elem.Repository
            td= elem.Creator
            td= elem.Created
    footer.w3-container.w3-teal
      h5 Generado por EngWeb2024 in #{date}